<app-nav></app-nav>
<div class="proyects-main">
    <div class="proyect-title">
        <a  class="btn btn-dark bR" href="/addRequest" role="button">
            <fa-icon [icon]="faBookMedical"></fa-icon></a>
        <span>
            Proyectos
        </span>
    </div>
    <div class="container">
        <div class="row">
            <div *ngFor="let p of proyects" class="col-lg-3 col-md-6 col-sm-1">
                <div>
                    <span>{{p.responsableTI}}</span>
                </div>
                <div>
                    <span>{{p.usuarioResponsable}}</span>
                </div>
                <div>
                    <span>{{p.fechaInicio}}</span>
                </div>
                <div>
                    <span>{{p.fechaFin}}</span>
                </div>
                <div>
                    <span>{{p.acta}}</span>
                </div>
                <div>
                    <span>
                        <button  class="btn btn-warning">
                            <fa-icon [icon]="faUserEdit"></fa-icon></button>| 
                        <button  class="btn btn-danger">
                            <fa-icon [icon]="faTrashAlt"></fa-icon></button>|
                        <button  class="btn btn-primary"><fa-icon [icon]="faAddressCard"></fa-icon></button>|
                        <button  class="btn btn-primary"><fa-icon [icon]="faFileMedical"></fa-icon></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>