h3{
    float: right;
    margin-right: 500px;
}
.bR{
    margin:5px;
}

.bR:hover{
    color:black;
    background-color: darkgray;
}
.table {
    text-align: center;
}
.table>thead>tr>th {
    text-align: center; 
}
