<app-nav></app-nav>
<div class="container ">
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-dark bR" href="/add" role="button">
                <fa-icon [icon]="faUserPlus"></fa-icon></a>

            <h3>Lista Empleados</h3>
        </div>

        <div class="card-body">
            <table class="table table-light table-striped table-hove">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha Nacimiento</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let e of employees">
                        <td>{{e.nombre}}</td>
                        <td>{{e.apellidos}}</td>
                        <td>{{e.fecha}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>
                            <button (click)="editEmployee()" class="btn btn-warning">
                                <fa-icon [icon]="faUserEdit"></fa-icon></button> 
                            <button (click)="deleteEmploye(e.idFuncionario)" class="btn btn-danger">
                                <fa-icon [icon]="faTrashAlt"></fa-icon></button>
                            <button  class="btn btn-primary"><fa-icon [icon]="faAddressCard"></fa-icon></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>