<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/main">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Sexo</a></li>
                        <li><a class="dropdown-item" href="#">Trimestre</a></li>
                        <li><a class="dropdown-item" href="#">Departamento</a></li>
                        <li><a class="dropdown-item" routerLink="/employee">Funcionario</a></li>
                        <li><a class="dropdown-item" href="#">Transacci&oacute;n</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/request">Solicitud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cambios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/advance">Avances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/reportes">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cubo</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 sal">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="exit()">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>